/****************************************************************************
 
 PATTR, 2015 
 Fix for IE < 10
 
 ************************************************************************** */

#container {*width: 1200px;}

#home h1 {*overflow: visible; *text-indent: 0; color: #FFF;}

@media screen and (min-width: 1200px) {
	div.demo {margin-left: 0;}
	aside {top: 3em;}
}