/****************************************************************************
 
 PATTR, 2015 
 Main Styles
 
 ************************************************************************** */


/* PALETTE
 * 
 * Hot			#D83C3F
 * Primary		#01AEB2 
 * 
 * */


/* ----------------------------------------------------------------- */
/* ------------------------------- FONTS --------------------------- */
/* ----------------------------------------------------------------- */

@font-face {
    font-family: 'roboto_slabregular';
    src: url('RobotoSlab-Regular-webfont.eot');
    src: url('RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoSlab-Regular-webfont.woff') format('woff'),
         url('RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_slablight';
    src: url('RobotoSlab-Light-webfont.eot');
    src: url('RobotoSlab-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoSlab-Light-webfont.woff') format('woff'),
         url('RobotoSlab-Light-webfont.ttf') format('truetype'),
         url('RobotoSlab-Light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_slabthin';
    src: url('RobotoSlab-Thin-webfont.eot');
    src: url('RobotoSlab-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoSlab-Thin-webfont.woff') format('woff'),
         url('RobotoSlab-Thin-webfont.ttf') format('truetype'),
         url('RobotoSlab-Thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_slabbold';
    src: url('RobotoSlab-Bold-webfont.eot');
    src: url('RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoSlab-Bold-webfont.woff') format('woff'),
         url('RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('OpenSans-ExtraBold-webfont.eot');
    src: url('OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('OpenSans-Italic-webfont.eot');
    src: url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Italic-webfont.woff') format('woff'),
         url('OpenSans-Italic-webfont.ttf') format('truetype'),
         url('OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ----------------------------------------------------------------- */
/* ------------------------------ RESET ---------------------------- */
/* ----------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, main,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

html {overflow-y: scroll;}

article, aside, figure, figcaption, footer, header, main, nav, section {
  display: block;
}



/* ----------------------------------------------------------------- */
/* ----------------------------- KEYFRAMES ------------------------- */
/* ----------------------------------------------------------------- */

@keyframes menuControl {
	from {top: -300em;}
	to {top: 0;}
}
@-moz-keyframes menuControl {
	from {top: -300em;}
	to {top: 0;}
}
@-ms-keyframes menuControl {
	from {top: -300em;}
	to {top: 0;}
}
@-webkit-keyframes menuControl {
	from {top: -300em;}
	to {top: 0;}
}
@-o-keyframes menuControl {
	from {top: -300em;}
	to {top: 0;}
}

/* ----------------------------------------------------------------- */
/* ------------------------------ DEFAULTS ------------------------- */
/* ----------------------------------------------------------------- */

body {
	font: 1em/1.2 roboto_slabregular, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1.components {
	overflow: hidden;
	width: 151px;
	height: 138px;
	text-indent: -25em;
	background: url(../imgs/logo.svg) no-repeat;
	margin: 4rem auto 0;
}

h2 {
	font: 2em open_sanslight, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

h3 {
	font: 1.5em open_sanslight, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

strong {
	font-family: roboto_slabbold, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

img {
  max-width: 100%;
  border: 0;
}

button {
	font-family: open_sansregular, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: none;
	cursor: pointer;
}

a, a:link {color: #D83C3F; background: #FFF;}
a:visited {opacity: .8;}


/* ----------------------------------------------------------------- */
/* --------------------------- PAGE STRUCTURE ---------------------- */
/* ----------------------------------------------------------------- */


#container {}

header {}

#wrapper {padding: 2rem 5% 0;}

main {}

aside {
	margin-top: 2rem;
}

footer {
	color: #FFF;
	background: #01AEB2;
	padding: 1rem 3%;
	margin-top: 4rem;
}
	footer p {font-size: 0.8em;}
	footer a, footer a:link, footer a:visited {
		color: #FFF;
		background: #01AEB2;
	}


/* ----------------------------------------------------------------- */
/* ----------------------------- NAVIGATION ------------------------ */
/* ----------------------------------------------------------------- */

div.breadcrumbs {display: none;}

/* Skip link */
.skip a {
	position: absolute;
	top: -9000px;
}
.skip a:focus {position: static;}

/* ------ COMPONENTS INDEX ----- */

#index {
	/*position: absolute;*/
	width: 90%;
	top: -300em;
	left: 0;
	color: #FFF;
	background: #01AEB2;
	padding: 4rem 5% 1rem;
	z-index: 1000;
}
#index.opened {
	-webkit-animation: .2s ease;
	-moz-animation: .2s ease;
	-ms-animation: .2s ease;
	-o-animation: .2s ease;
	animation: .2s ease;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-name: menuControl;
	-moz-animation-name: menuControl;
	-ms-animation-name: menuControl;
	-o-animation-name: menuControl;
	animation-name: menuControl;
}
#index.opened::before {content: none;}

/* --- CONTROL BUTTON --- */
p.control {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	color: #FFF;
	background: #01AEB2;
}
p.control button::before {
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 50%;
	bottom: -7px;
	content: "";
	background: #01AEB2;
	margin-left: -7.5px;
	transform: rotate(45deg);
	z-index: 1050;
}
	p.control button {
		position: relative;
		text-transform: uppercase;
		color: #FFF;
		background: #01AEB2;
		padding: 0.5em 2em;
		z-index: 1010;
	}

	p.control button:focus {
		border: 1px dotted #FFF;
	}

#index.opened + p.control {top: 0;}
#index.opened + p.control button {
	padding-top: 2.5em;
}
#index.opened + p.control button::before {
	bottom: 1.5rem;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
}


/* --- COMMUNITY LINKS --- */

ul.community {
	list-style-type: none;
	text-align: center;
	padding: 1rem 0;
	margin: 2rem auto 1.5rem;
	border-top: 1px dotted #FFF;
	border-bottom: 1px dotted #FFF;
}	
	ul.community li {display: inline-block; font-size: 0.8em; padding: 0 5%;}
	ul.community a, ul.community a:visited {
		display: block;
		width: 6em;
		text-align: center;
		text-decoration: none;
		color: #FFF;
		background: #01AEB2;
		padding: 36px 0 0 0;
	}
	ul.community a:visited {opacity: .85;}

	ul.community li:first-child a {
		background: url(../imgs/github.svg) top center no-repeat;
	}
	ul.community li:last-child a {
		background: url(../imgs/twitter.svg) top center no-repeat;
	}
	

/* --- DOWNLOAD LINK --- */

p.download {
	max-width: 10em;
	font-family: open_sansregular, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 2rem auto;
}

	p.download small {display: block;}
	
	p.download a, p.download a:visited {
		display: block;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
		background: #D83C3F;
		padding: 0.5rem 1rem;
		border-radius: 3px;
	}


/* ---------------- MAIN NAVIGATION ----------------------- */

ul.main-nav {
	display: flex;
	flex-flow: row wrap;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	margin-top: 2rem;
}

	ul.main-nav li {
		flex: 1 1 28%;
		-webkit-flex: 1 1 28%;
		list-style-type: none;
		color: #FFF;
		background: #01AEB2;
		padding: 0.2rem 2.5%;
	}
	ul.main-nav ul {
		padding-left: 2rem;
		margin-bottom: 1.5rem;
	}
	
	ul.main-nav a, ul.main-nav a:visited {
		text-decoration: none;
		color: #FFF;
		background: #01AEB2;
	}
	ul.main-nav a:hover {text-decoration: underline;}
	


/* ----------------------------------------------------------------- */
/* --------------------------------- HOME -------------------------- */
/* ----------------------------------------------------------------- */

#home {background: url(../imgs/background.png);}
#home #wrapper {padding: 0;}

#home #container > header {
	text-align: center;
	margin: 0 auto 5rem;
}

#home footer {margin: 0;}

#home h1 {
	overflow: hidden;
	width: 250px;
	height: 231px;
	text-indent:  -1000px;
	text-align: center;
	background: url(../imgs/logo_home.svg) no-repeat;
	margin: 7rem auto 4rem;
}

#home h2 {
	font-size: 1.8em;
	line-height: 1.3;
	text-transform: none;
	margin-bottom: 0.5em;
} 

p.baseline {
	font-size: 2.5em;
	font: 4.8vmax/1.3 open_sansregular, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	background: transparent;
	margin: 0 10%;
}

#home div.content {
	text-align: center;
	color: #FFF;
	background: #A92B2E;
	padding: 2rem 10%;
}
	#home div.content section {
		margin: 3rem 0;
	}
	#home section p {
		line-height: 1.4;
	}
	
section.presentation {
	text-align: center;
	color: #353736;
	background: #b9DBDC;
	padding: 3rem 10% 3rem;
}
	#home section.presentation h2 {
		font-size: 2.5em;
		margin-bottom: 1em;
	}

	#home section.presentation p {
		max-width: 35em;
		font-size: 1.2em;
		line-height: 1.53;
		margin: 0 auto;
	}


/* ----------------------------------------------------------------- */
/* ------------------------------ COMPONENTS ----------------------- */
/* ----------------------------------------------------------------- */

p.category {font-family: open_sansextrabold, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;}

div.description {max-width: 35em; margin: 2rem 0;}
div.description p {
	font-size: 0.85em;
	line-height: 1.65;
}
	div.description p + p {margin-top: 1em;}

div.demo {
	min-height: 300px;
	background: #EEE;
}



/* ----------------------------------------------------------------- */
/* ------------------------------ BLOCKS --------------------------- */
/* ----------------------------------------------------------------- */

/* ------------------------ TABS ----------------------------- */

ul.tabs { 
	color: #FFF;
	background: #01AEB2;
	margin-top: 2rem;
}
ul.tabs li {
	position: relative;
	display: table-cell;
	list-style-type: none;
	font: 1.3em open_sanslight, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

ul.tabs li a, ul.tabs li a:visited {
	position: relative;
	display: block;
	width: 5rem;
	text-decoration: none;
	color: #FFF;
	background: transparent;
	padding: 1rem;
	z-index: 10;
}
ul.tabs li:last-child a, ul.tabs li:last-child a:visited {
	width: 15rem;
}

/* ACTIVE */

ul.tabs li.active::before, ul.tabs li:hover::before {
	display: block;
	position: absolute;
	top: -0.5rem;
	left: 1rem;
	width: 5rem;
	height: 5rem;
	content: "";
	background: #D83C3F;
	border-radius: 5rem;
	z-index: 5;
}
ul.tabs li.active:last-child::before, ul.tabs li:last-child:hover::before {
	left: 7.5rem;
	margin-left: -1.5rem;
}

/* CONTENT */
div.tab-block div.content {
	overflow: auto;
	min-height: 100px;
	background: #FFF;
	border: 5px solid #01AEB2;
	border-top: none;
}


/* ----------------------------------------------------------------- */
/* ------------------------------- EDITORIAL ----------------------- */
/* ----------------------------------------------------------------- */

div.info-block ul {
	padding: 1rem;
}
div.info-block li {
	padding: 0.3rem 0;
}

/* ----------------------------------------------------------------- */
/* ----------------------------- MEDIA QUERIES --------------------- */
/* ----------------------------------------------------------------- */


@media screen and (min-width: 800px) {
	#container {display: table; width: 100%;}
	#container > header {position: static; display: table-cell; width: 20%;}
	#wrapper {display: table-cell; width: 75%; padding: 7rem 5% 0 0;}
	
	#home #container > header {display: block; width: 100%;}
	#home #wrapper {display: block; width: 100%; padding: 0;}
	#home div.content {
		display: flex;
		display: -webkit-flex;
		flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
		padding: 2em 5%;
	}
	#home #container > header {padding: 3rem 0 7rem;}
	#home div.content section {
		flex: 0 1 25%;
		-webkit-flex: 0 1 25%;
		padding: 0 2%;
		margin: 2rem auto;
	}
	
	h1.components {background-position: 0 -20px;}
}

@media screen and (min-width: 1200px) {
	#container > header {width: 17%;}
	#home #container > header {width: 100%;}
	#wrapper {width: 83%;}
	#home #wrapper {width: 100%; padding: 0;}
	
	main > div.content {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		display: -webkit-flex;
		-webkit-flex-flow: row wrap;
		-webkit-justify-content: flex-end;
	}
	div.description {
		flex: 1 0 30%;
		-webkit-flex: 1 0 30%;
	}
	div.demo {
		flex: 1 0 65%;
		-webkit-flex: 1 0 65%;
		margin: 2rem 0 4rem 5%;
	}
	
	div.tab-block {width: 65%;}
	h1.components {background-position: center -20px; margin-top: 5rem;}
	aside {position: relative; top: -31rem;}
	
	div.snippets {float: right;} /* IE9 */
	
	ul.main-nav {float: left; width: 70%;}
	p.download, ul.community {float: right; width: 20%;} 
	ul.community {
		position: absolute;
		right: 0;
		bottom: 2rem;
		padding: 0;
		border: none;
	}
}

@media screen and (min-width: 1200px) {
	#container > header {width: 15%;}
	#wrapper {width: 85%;}
	#home #wrapper {width: 100%;}
}


@media screen and (min-width: 1480px) {
	#home div.content {padding: 5em 5%;}
}
