---
layout: default
title: "Pattr Components!"
component: Tooltip
category: Site Utilities
version: 1.0.0
---
<div class="breadcrumbs">
	<p>You are here:</p>
	<ol>
		<li><a href="#">Home</a> &gt;</li>
		<li><strong>Tooltip</strong></li>
	</ol>
</div>
		
<div id="wrapper">
	<main role="main">
		<header>
			<p class="category">Blocks</p>
			<h2>Accordion</h2>
		</header>
		
		<div class="content">
			<div class="description">
				<p>Almost in the same instant, with a thunder-boom, the enormous mass dropped 
					into the sea, like Niagara's Table-Rock into the whirlpool; the suddenly 
					relieved hull rolled away from it, to far down her glittering copper; 
					and all caught their breath, as half swinging—now over the sailors' heads, 
					and now over the water</p>
				<p>But hardly had the blinding vapour cleared away, when a naked figure 
					with a boarding-sword in his hand, was for one swift moment seen hovering over the bulwarks.</p>
			</div>
			
			<div class="demo">
				<pre>lsdf kflqksdfl kqsùmdl</pre>
			</div>
			
			<div class="tab-block snippets">
				<ul class="tabs">
					<li class="active"><a href="#html-snip">HTML</a></li>
					<li><a href="#css-snip">CSS</a></li>
					<li><a href="#js-snip">JS</a></li>
					<li><a href="#howto">How to apply</a></li>
				</ul>
				<div id="html-snip" class="content"></div>
				<div id="css-snip" class="content"></div>
				<div id="js-snip" class="content"></div>
				<div id="howto" class="content"></div>
			</div>
		</div>
	</main>

	<aside role="complementary">
		<div class="info-block">
			<h3>Related links</h3>
			<ul class="links-list">
				<li><a href="#html-snip">HTML</a></li>
				<li><a href="#css-snip">CSS</a></li>
				<li><a href="#js-snip">JS</a></li>
				<li><a href="#howto">How to apply</a></li>
			</ul>
		</div>
	</aside>
</div>
