<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <link rel="shortcut icon" href="imgs/favicon.png">
        <link rel="apple-touch-icon" href="imgs/apple-touch-icon.png">
        <link href="/assets/styles/main.css" rel="stylesheet" title="Default Theme" media="all" />
        <!--[if lt IE 10]><link href="/assets/styles/iefix.css" rel="stylesheet" media="all" /><![endif]-->
        <!--[if lt IE 9]><script src="/assets/js/html5shiv.js"></script><![endif]-->
        <script src="/assets/js/general-functions.js"></script>
        <script src="/assets/js/load.js"></script>
    </head>
    {% if page.index %}
    <body id="home">
    {% endif %}
    {% if page.component %}
    <body>
    {% endif %}
        <div id="container">
            {% if page.index %}
            <header>
                <h1>Pattr - The Markup Library</h1>
                <p class="baseline">It's all about progresive enhancement</p>
            </header>
            {% endif %}

            {% if page.component %}
            <header>
                <h1 class="components">Pattr - The Markup Library</h1>
            </header>
            {% endif %}

            <div id="index">
                <nav data-ng-controller="NavController">
                    <h2 class="skip"><a href="#wrapper">Main Menu (Skip to main content)</a></h2>
                    <ul class="main-nav">
                        <li><strong>Blocks</strong>
                            <ul>
                                <li><a href="/components/blocks/accordion.html">Accordion</a></li>
                                <li><a href="/components/blocks/collapsiblepanel.html">Collapsible Panel</a></li>
                                <li><a href="/components/blocks/tabs.html">Tabs</a></li>
                            </ul>
                        </li>
                        <li><strong>Form</strong>
                            <ul>
                                <li><a href="/components/form/errorMessages.html">Error Messages</a></li>
                                <li><a href="/components/form/fieldInError.html">Field in Error</a></li>
                            </ul>
                        </li><li><strong>Site Utilities</strong>
                            <ul>
                                <li><a href="/components/siteUtilities/tooltip.html">Tooltip</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <p class="download"><a href="https://github.com/Pattr/Pattr.github.io/archive/master.zip">Download <small>Zip, 100Kb</small></a></p>
                <ul class="community">
                    <li><a href="https://github.com/Pattr/Pattr.github.io">Fork us on Github</a></li>
                    <li><a href="#">Follow @pattr</a></li>
                </ul>
            </div>
            <p class="control"><button id="controler">Menu</button></p>
                
           
            {{ content }}
           
    </div>
    <footer>
        <p class="copyright"><strong>Pattr, 2015 &copy;</strong> Except where otherwise noted, content on this site is licensed under a <a href="https://github.com/Pattr/Pattr.github.io/blob/master/LICENSE">MIT License</a></p>
    </footer>
</body>
</html>
